* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  background: #f8f8fb url(../img/study.jpg) center/cover no-repeat;
  height: 100vh;
}

.container {
  width: 1200px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.logo-name {
  font-size: 50px;
  font-weight: 700;
}

.icons {
  font-size: 0;
  position: relative;
}

.logo-icon {
  position: relative;
  font-weight: 700;
  bottom: -4px;
}

.logo-icon:first-child {
  position: absolute;
  right: 8px;
  bottom: 4px;
}

.nav-item {
  display: flex;
  column-gap: 5px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

.nav-item:nth-child(5) {
  color: #8c919b;
}

.nav-item span:last-child {
  margin-left: 10px;
}

.nav-item:hover {
  opacity: 0.8;
}

.nav-item:hover .menu {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
}

.menu {
  position: absolute;
  display: flex;
  background: white;
  opacity: 0;
  /* max-height: 0; */
  /* visibility: hidden; */
  border-radius: 7px;
  padding: 30px 50px 30px 40px;
  top: 80px;
  left: 0;
  right: 0;
  transition: opacity 0.6s, max-height 0.6s, visibility 0.6s;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  width: 33%;
  border-right: 1px solid gray;
}

.left .menu-title:last-of-type {
  margin-top: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.menu-list {
  width: 200px;
}

.menu-item {
  margin-top: 20px;
  list-style: none;
}

.menu-item:hover {
  text-decoration: underline;
}

.right {
  padding: 0 0 0 40px;
  flex-grow: 1;
}
