* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  margin-top: 50px;
}

a {
  color: #666;
  text-decoration: none;
  outline: none;
}

.home {
  display: inline-block;
  padding: 20px;
}

.list {
  display: flex;
  border: 1px solid #ddd;
}

.list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 20px;
  color: #666;
  cursor: pointer;
}

.list > .list-item:first-child {
  width: 80px;
  padding: 0;
}

.list > .list-item:last-child {
  margin-left: auto;
}

.list-item:hover,
.list-item:focus {
  background: #2da5da;
  outline: none;
  color: white;
}

.list-item:hover .sub-list,
.list-item:focus .sub-list {
  display: block;
}

.sub-list {
  position: absolute;
  border: 1px solid #ddd;
  bottom: -190px;
  left: 0;
  box-shadow: 0px 0px 7px 2px #ddd;
  display: none;
}

.sub-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 20px;
  color: #666;
  list-style-type: none;
  border-top: 1px solid #ddd;
}

.sub-item:hover {
  background: #2da5da;
  color: white;
}
