* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/bg.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

button,
label {
  cursor: pointer;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  position: relative;
  /* flex-direction: row-reverse; */
}

.justlog {
  position: relative;
  background: #ff574d;
  padding: 100px 20px;
  width: 350px;
  text-align: center;
  color: white;
  border-radius: 7px 0 0 7px;
  transition: ease-in-out 0.5s;
}

.justlog::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-right {
  z-index: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  top: 50%;
  right: -24px;
  color: #ff574d;
  transform: translateY(-50%);
  transition: ease-in-out 0.5s;
}

.arrow-right:hover {
  background: #ff574d;
  color: white;
  opacity: 0.5;
}

#reverse:checked + .container {
  /* flex-direction: row-reverse; */
}

#reverse:checked + .container .justlog {
  z-index: 1;
  transform: translateX(600px); /* 171% */
  border-radius: 0 7px 7px 0;
}

#reverse:checked + .container .form {
  transform: translateX(-350px); /* -58.33% */
  border-radius: 7px 0 0 7px;
}

#reverse:checked + .container .justlog::after {
  left: -26px;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.1);
}

#reverse:checked + .container .arrow-right {
  z-index: 2;
  left: -25px;
  right: 100%;
  transform: translateY(-50%) rotate(180deg);
}

.justlog-title {
  font-size: 30px;
  font-weight: 700;
}

.justlog-title span {
  color: #ff574d;
  background: white;
  padding: 0 5px;
  border-radius: 5px;
}

.justlog-desc {
  margin-top: 30px;
}

.justlog-btn {
  color: #ff574d;
  background: white;
  margin-top: 40px;
  padding: 10px 40px;
  background: white;
  border: none;
  border-radius: 4px;
}

.justlog-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.justlog-icon a {
  width: 30px;
  height: 30px;
  background: #db5c4f;
  color: white;
  text-decoration: none;
  line-height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 600px;
  padding: 50px 30px 80px;
  border-radius: 0 7px 7px 0;
  background: white;
  transition: ease-in-out 0.5s;
}

form {
  width: 400px;
}

.form-title,
.form a,
.form span,
.form label {
  color: #717171;
}

.form-title {
  font-weight: 600;
  font-size: 25px;
  position: relative;
}

.form-title::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #ff574d;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.form-title span {
  color: #ff574d;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 50px;
}

.form-input input {
  padding: 10px 20px;
  font-size: 16px;
  width: 400px;
  border: 1px solid #808080;
}

.form-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 20px;
}

.form-action label {
  display: flex;
  align-items: center;
}

.form-action__remember {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.form-action__forgot {
  text-decoration: none;
  color: black;
}

.form-btn {
  display: block;
  width: 100%;
  background: #ff574d;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.form-register {
  margin-top: 20px;
}

.form-register a {
  margin-left: 5px;
  text-decoration: none;
}
