* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-width: 2px;
}

input {
  width: 90%;
  margin: 0 auto;
}

tr td:last-child {
  display: flex;
  flex-direction: column;
}

.cart-actions {
  display: flex;
  margin-top: 30px;
  column-gap: 10px;
}

.cart-actions button {
  padding: 5px 10px;
}
