* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 100px 30px;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 50px;
  font-family: "Lobster", sans-serif;
}

span {
  color: red;
}

form {
  margin-top: 50px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 30px;
}

.row:last-child {
  align-items: center;
}

i {
  display: inline-block;
  background: #dddddd;
  color: white;
  font-size: 20px;
  width: 60px;
  text-align: center;
  padding: 20px;
}

select {
  color: gray;
  position: relative;
  background: url(../img/updownarow.svg) no-repeat right;
  -webkit-appearance: none;
}

option {
  color: white;
  background-color: #b2b2b2;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Lato", sans-serif;
  resize: none;
  padding: 20px 20px 0 20px;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  outline: none;
  border: 1px solid black;
  border-left: none;
}

input:focus + i,
select:focus + i,
textarea:focus + i,
input:hover + i,
select:hover + i,
textarea:hover + i {
  background: black;
}

input:focus ~ .star {
  display: none;
}

input:focus ~ .xmark {
  visibility: visible;
}

input:focus ~ .popup,
select:focus ~ .popup,
textarea:focus ~ .popup {
  display: block;
}

.row:focus i {
  background: #000;
}

input,
select {
  height: 60px;
}

input,
select,
textarea {
  width: 500px;
  padding-left: 15px;
  border: 1px solid #ddd;
  font-family: "Lato", sans-serif;
}

.xmark {
  visibility: hidden;
  cursor: pointer;
}

.star,
.xmark {
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: #b2b2b2;
  background: none;
  left: 500px;
  top: 5px;
}

.popup {
  position: absolute;
  display: none;
  color: black;
  background: url(https://i.pinimg.com/564x/9b/6f/68/9b6f681cd60eebf77997b792791e97d8.jpg)
    no-repeat center/cover;
  width: 180px;
  height: 60px;
  clip-path: polygon(100% 0, 100% 60%, 50% 60%, 38% 71%, 30% 60%, 0 60%, 0 0);
  left: 50px;
  top: -50px;
}

.popup-message {
  position: absolute;
  color: white;
  font-size: 16px;
  text-align: center;
  height: 17px;
  line-height: 0;
  right: 0;
  top: 0;
  left: 0;
  bottom: 5px;
  margin: auto;
}

label.active:last-child::after {
  margin: 0;
  top: 40px;
}

#check {
  display: inline-block;
  width: 30px;
  height: 30px;
  outline: 3px solid #ddd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#check:checked {
  accent-color: white;
}

#check:after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  border: 3px solid #ddd;
}

button {
  margin-left: 165px;
  padding: 10px 40px;
  background: red;
  color: white;
  font-size: 20px;
  border: none;
}

button:hover {
  opacity: 0.7;
}

select,
button,
#check {
  cursor: pointer;
}

.message {
  color: #b2b2b2;
  margin-left: 20px;
  display: inline-block;
}
