footer {
  background: #334455;
  padding: 5px 0 30px 30px;
  border-radius: 10px;
}

footer:hover input::placeholder {
  color: #ffa500;
}

footer:hover input {
  background: #ddd;
}

footer:hover button {
  color: white;
  background: #ffa500;
}

h2,
p {
  color: white;
  font-family: sans-serif;
}

p {
  font-size: 14px;
}

span {
  color: #ffa500;
}

input,
button {
  display: inline-block;
  width: 220px;
  padding: 8px 10px;
  border-radius: 4px;
}

button {
  background: #f8db35;
  font-weight: 600;
  text-align: center;
}
