* {
  box-sizing: border-box;
}

form {
  text-align: center;
}

h3,
input {
  font-family: "Bebas Neue", sans-serif;
}

h2,
button {
  font-family: "Alfa Slab One", serif;
}

h2,
h3 {
  color: #3a2517;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

.row {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

input,
button {
  padding: 10px;
  width: 300px;
}

button {
  background: #b0332b;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
