@font-face {
  font-family: SFU;
  src: url(../font/SFUTradeGothic-BoldCondensedTwenty.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background: url(../img/BT1.jpg) center no-repeat;
  height: 100vh;
  position: relative;
}

.item {
  font-family: "Asap", sans-serif;
  width: 550px;
  padding: 40px 20px 50px;
  position: absolute;
  color: #3f3424;
  background: rgba(255, 255, 255, 0.8);
  top: 50%;
  left: 22%;
  transform: translateY(-50%);
}

a {
  text-decoration: none;
  color: #bf4240;
  font-size: 30px;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 15px;
  column-gap: 5px;
}

.price {
  position: absolute;
  display: inline-block;
  background: #bf4240;
  padding: 10px 25px;
  color: white;
  font-size: 25px;
  font-family: SFU;
  border-radius: 5px;
  bottom: 0;
  right: 5%;
  transform: translateY(50%);
}
