* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  padding: 50px;
}

h1 {
  text-align: center;
}

.post-list {
  margin: 50px auto 0;
  width: 80%;
}

.post-item {
  padding: 20px;
}

.post-item + .post-item {
  border-top: 2px solid black;
}

.post-item h3 {
  font-size: 30px;
}

.post-item p {
  font-size: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
