* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  font-family: "Inter", sans-serif;
}

.milestones {
  width: 40%;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.stage:hover .btn {
  background: #a26f5a;
  color: white;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 50px;
}

.stage__title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 35px;
}

.stage__content {
  padding: 0 58px 40px 0;
  width: 424px;
  text-align: end;
  margin: 20px 144px 0 0;
  border-right: 1px solid lightgray;
}

.stage:last-of-type .stage__content {
  border: none;
}

.content__desc {
  font-size: 20px;
  text-indent: 24px;
  color: grey;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: gray;
  font-weight: 600;
  background: #f2f2f2;
  padding: 5px 10px;
  border-radius: 999px;
  transition: 0.2s;
}

/* .btn:hover {
  background: #a26f5a;
  color: white;
} */

.stage__dot {
  z-index: 2;
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  background: green;
  border-radius: 50%;
}

.stage__dot::before {
  z-index: 1;
  position: absolute;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  top: 0;
  left: 0;
  animation: radiate 2s infinite;
}

@keyframes radiate {
  to {
    scale: 3;
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.background-img {
  position: relative;
  width: 400px;
  height: 500px;
  margin-top: 30px;
}

.background-img:first-of-type {
  z-index: 1;
  bottom: -100px;
  right: -100px;
  background: url(../img/BT1.jpg) center/cover;
}

.background-img:last-of-type {
  background: url(../img/img2-BT1.jpg) center/cover;
}
.background-color {
  position: absolute;
  inset: 20px;
  background: #455fb2;
}

.background-color span {
  position: absolute;
  display: inline-block;
  background: url(../img/BT1.jpg) center/cover text;
  -webkit-text-fill-color: transparent;
}

.background-color span:first-child {
  font-size: 50px;
  font-weight: 600;
  bottom: 100px;
  right: 100px;
}

.background-color span:last-child {
  bottom: 80px;
  right: 100px;
}
