* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.player {
  max-width: 80%;
  margin: 30px auto;
}

.player-action {
  text-align: center;
}

.player-action i {
  cursor: pointer;
}

.player-timer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: gray;
  position: relative;
  cursor: pointer;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: red;
}

.progress span {
  width: 12px;
  height: 12px;
  display: block;
  background: blueviolet;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  translate: 50% -1px;
}

.player-timer span {
  user-select: none;
}

.time-display {
  display: none;
  position: absolute;
  top: -20px;
  color: white;
  background: black;
  translate: -50%;
}

.open-karaoke {
  background: #892be2;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 50%;
  translate: -50%;
  border: none;
  cursor: pointer;
}

.karaoke {
  position: fixed;
  inset: 0;
  color: white;
  background: #892be2;
  translate: 0 100%;
  /* transform: translateY(100%); */
  transition: 0.3s linear;
}

.karaoke-inner {
  max-width: 60%;
  margin: 0 auto;
}

.karaoke-header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.karaoke-header span {
  cursor: pointer;
}
