body {
  padding: 20px;
  font-family: sans-serif;
}
button {
  border: 1px solid #b09757;
  background-color: white;
  padding: 10px 20px;
}

button:hover {
  color: white;
  background-color: #b09757;
}

.body {
  margin-top: 30px;
  display: flex;
  height: 450px;
}

.address {
  padding: 60px 300px 30px 60px;
  background: #f6f6f6;
}

a {
  color: #b09757;
}

.map {
  flex: 1;
}
