* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  padding: 50px;
}

h1 {
  text-align: center;
}

.post-list {
  margin: 50px auto 0;
  width: 80%;
}

.post-item {
  padding: 20px;
}

.post-item + .post-item {
  border-top: 2px solid black;
}

.post-item h3 {
  font-size: 30px;
}

.post-item p {
  font-size: 20px;
  margin-top: 20px;
}

.hidden {
  display: none !important;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.form label span {
  display: inline-block;
  width: 80px;
}

.form input,
.form textarea {
  margin-top: 10px;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
}

.sign-in-btn,
.to-sign-in,
.sign-up-btn,
.sign-out-btn,
.new-post button {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid transparent;
  background: green;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.sign-in-btn:hover,
.to-sign-in:hover,
.sign-up-btn:hover {
  background: orange;
}

.form.new-post label:last-child {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sign-out-btn {
  background: red;
  margin-left: 40px;
}

.sign-out-btn:hover {
  background: green;
}

.new-post button:hover {
  background: orange;
}
