* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  background: #4286f4;
  width: 500px;
  padding: 20px;
}

.item {
  background: #8bb3f4;
  padding: 10px;
  border: 1px solid white;
  list-style: none;
  user-select: none;
}

.list-item + .list-item {
  margin-top: 2px;
}

.active {
  background: #ff6f00;
}

.ghost {
  opacity: 0.4;
}
